<div class="container" style="margin-top: 40px;">
    <div class="card">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th># Identificacion</th>
                    <th>Tipo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td>{{usuario.nacimiento}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.correo}}</td>
                </tr>
            </tbody>
        </table>


    </div>


</div>