
<div style="text-align: center">
  <img width="150" alt="Keypago Logo" src="https://www.keypago.com/wp-content/uploads/2022/06/Logo-keypago.svg" style="margin-top: 40px;">

</div>
<div class="container col-md-6" style="text-align: center; margin-top: 40px;">
  <div class="card">
    <div class="card-header">
      <h3>
        Bienvenido a {{ title}}!
      </h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Numero identificacion:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Contraseña:</label>
          <input type="text" class="form-control" style="margin-bottom: 20px;">
        </div>
      </form>
    </div>
    <button (click)="Entrar() "class="btn btn-success" style="margin-bottom: 30px;">Entrar</button>
  </div>

</div>

<router-outlet></router-outlet>
