<app-header></app-header>

    <div class="container" style="max-width: 40%; margin-top: 10px;">

        <form [formGroup]="datauserForm" (ngSubmit)="postForm(datauserForm.value)">
            <div class="form-group">
                <label for="FormControlInput1">Identificacion</label>
                <input type="text" class="form-control" placeholder="Numero de identificacion" formControlName="id">

            </div>
            <div class="form-group">
                <label for="FormControlInput1">Tipo de documento</label>
                <input type="text" class="form-control" placeholder="Tipo de documento" formControlName="tipo">

            </div>
            <div class="form-group">
                <label for="FormControlInput1">Fecha de nacimiento</label>
                <input type="text" class="form-control" placeholder="Fecha de nacimiento" formControlName="nacimiento">

            </div>
            <div class="form-group">
                <label for="FormControlInput1">Numero de telefono</label>
                <input type="text" class="form-control" placeholder="Numero de telefono" formControlName="telefono">

            </div>
            <div class="form-group">
                <label for="FormControlInput1">Correo</label>
                <input type="text" class="form-control" placeholder="Correo" formControlName="correo">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="regresar()">Regresar</button>

        </form>

    </div>

<app-footer></app-footer>