<app-header></app-header>


<div class="container" style="margin-top: 10px;">

    <button type="button" class="btn btn-primary" style="float:initial; margin-bottom: 10px;" (click)="agregar()">agregar</button>

    <div class="card">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th># Identificacion</th>
                    <th>Tipo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td>{{usuario.nacimiento}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.correo}}</td>
                    <td><button type="button" class="btn btn-primary" style="float:left;" (click)="editar(usuario.id)">editar</button>
                        <button type="button" class="btn btn-danger" style="float:right;" (click)="eliminar(usuario.id)">eliminar</button></td>
                </tr>
            </tbody>
        </table>


    </div>

    <button type="button" class="btn btn-danger" style="float:left; margin-top: 10px;" (click)="regresar()">regresar</button>


</div>

<app-footer></app-footer>