<app-header></app-header>

<div class="container" style="margin-top: 40px;">
    <div class="card" style="margin-bottom: 10px;">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"># Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Edad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.tipo}}</td>
                <td>{{usuario.nacimiento}}</td>
                <td>{{usuario.edad}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.correo}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div *ngIf="admin==true">
      <button type="button" class="btn btn-primary" style="float:left;" (click)="administrar()">Administrar</button>
    </div>
    <button type="button" class="btn btn-danger" style="float:right;" (click)="salir()">Cerrar sesion</button>
    
</div>

<app-footer></app-footer>